---
- hosts: jupyter_service
  become: no
  any_errors_fatal: true
  gather_facts: no
  vars_files:
      - vars.yaml
# https://medium.com/codex/running-a-multi-node-hadoop-cluster-257068e5f276
  tasks:

    - name: Copy default tmux
      copy:
        src: templates/tmux.conf
        dest: "{{ default_install_dir }}/tmux.conf"


    - name: Install Jupyter
      ansible.builtin.shell: |
       export PATH="$HOME/.asdf/bin:$HOME/.asdf/shims:$PATH";
       python -m pip install  notebook \
                              jupyter_nbextensions_configurator \
                              jupyter_contrib_nbextensions \
                              yapf wget
       
      args:
        executable: /bin/bash

    - name: Configure Jupyter Extensions
      ansible.builtin.shell: |
        export PATH="$HOME/.asdf/bin:$HOME/.asdf/shims:$PATH";
        asdf reshim python
        jupyter contrib nbextension install --user
        jupyter nbextensions_configurator enable --user
        jupyter nbextension enable toc2/main
        jupyter nbextension enable codefolding/main
        jupyter nbextension enable execute_time/ExecuteTime 
      args:
        executable: /bin/bash

    - name: Create Notebook dir
      file: 
        path: "{{ item }}"
        state: directory
        mode: "g+rw"
      with_items:
        - "{{ jupyter_data_dir }}"      

    - name: Deploy Jupyter startup script
      ansible.builtin.template:
        src: templates/jupyter/start-jupyter.sh.j2
        dest: "{{default_install_dir}}/start-jupyter.sh"
        mode: u=rwx,g=rx,o=rx
