---
- hosts: all
  become: no
  any_errors_fatal: true
  gather_facts: no
  vars_files:
      - vars.yaml
# https://medium.com/codex/running-a-multi-node-hadoop-cluster-257068e5f276
  tasks:

  - name: Drop memory caches
    become: yes
    shell: >
          sync; echo 3 > /proc/sys/vm/drop_caches

  - name: Clean swap
    become: yes
    shell: >
          swapoff -a; swapon -a