---
- import_playbook: playbook-hdfs-stop.yml

- hosts: all
  become: no
  any_errors_fatal: true
  gather_facts: no
  vars_files:
      - vars.yaml

  tasks:

    - name: Remove folders
      file: 
        path: "{{ item }}"
        state: directory
        mode: "g+rw"
      with_items:
        - "{{ hadoop_home_dir }}"      
        - "{{ hadoop_hdfs_data_dir }}"      
        - "{{ hadoop_namenode_dir }}"      
        - "{{ hadoop_pid_dir }}"      
        - "{{ hadoop_temp_dir }}"      
